# igonre debug files
/debug

# ignore input images
/src/assets/portrait-input.jpg
/input/portrait.jpg

node_modules/
src/assets/portrait-input.jpg
dist/
*.log
.DS_Store

# EC2 key pair
robert-aws-key.pem